<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="topnav">
    <div class="search-container">
        <form method="POST" action="/Search">
            <input name="name" type="text" placeholder="Search.." />
            <button type="submit"><i class="fa fa-fw fa-search"></i></button>
        </form>
    </div>
</div>
<div class="page">
    {{with .StationInfos}}
    <img src="{{.ImgUrl}}" alt="{{.Name}}" class="headerImg">
    <div class="DbDiv">
        <div class="DbBox">
            <h1 class="DbText"> Information on "<b>{{.Name}}</b>": </h1>
            {{if .IsOpen}}
            <b class="open">OPEN</b>
            {{else}}
            <b class="closed">CLOSED</b>
            {{end}}
            <h3 class="DbText"> {{with .MailingAddress}}
                {{.Street}}, {{.Zipcode}} {{.City}}
                {{end}}</h3>
        </div>
        {{end}}
    <ul>
        {{range .Arrivals}}
        <li>
            <b>{{.Name}}</b><a>on Track {{.Track}}</a>
        </li>
        {{end}}
    </ul>
    </div>
</div>
</body>
</html>