<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="topnav">
    <a href="http://localhost:8080">
    <img src="https://assets.static-bahn.de/dam/jcr:47b6ca20-95d9-4102-bc5a-6ebb5634f009/db-logo.svg" alt="Logo" >
    </a>
    <div class="search-container">
        <form method="POST" action="/Search">
            <input name="name" type="text" placeholder="Search.." />
            <button type="submit"><i class="fa fa-fw fa-search"></i></button>
        </form>
    </div>
</div>
<div class="page">
    {{with .StationInfos}}
    <img src="{{.ImgUrl}}" alt="{{.Name}}" class="headerImg">
    <div class="DbDiv">
        <div class="DbStripe"></div>
        <div class="DbBox" style="margin-top: -7px">
            <h1 class="DbText"> Information on "<b>{{.Name}}</b>": </h1>
            {{if .IsOpen}}
            <b class="open">OPEN</b>
            {{else}}
            <b class="closed">CLOSED</b>
            {{end}}
            <h3 class="DbText"> {{with .MailingAddress}}
                {{.Street}}, {{.Zipcode}} {{.City}}
                {{end}}</h3>
        </div>
        {{end}}
    </div>
    <div class="DbDiv">
        <div style="margin-top: 30px"> </div>
        <b class="DbHeader">Arrivals</b>
        <table class="trainTable" style="margin-top: 10px">
            <tr>
                <th style="width: 10%">Train</th>
                <th style="width: 40%">Origin</th>
                <th style="width: 20%">Track</th>
                <th style="width: 30%">Time</th>
            </tr>
            {{range .Arrivals}}
            <tr>
                <td><a href="/Journey?q={{.DetailsId}}">{{.Name}}</a></td>
                <td><a href="/Search?q={{.Origin}}">{{.Origin}}</a></td>
                <td>{{.Track}}</td>
                <td>{{.DateTime}}</td>
            </tr>
            {{end}}
        </table>
    </div>
    <div class="DbDiv">
        <div style="margin-top: 30px"></div>
        <b class="DbHeader" style="margin-top: -7px">Departures</b>
        <table class="trainTable" style="margin-top: 10px">
            <tr>
                <th style="width: 10%">Train</th>
                <th style="width: 40%">Destination</th>
                <th style="width: 20%">Track</th>
                <th style="width: 30%">Time</th>
            </tr>
            {{range .Departures}}
                <tr>
                    <td><a href="/Journey?q={{.DetailsId}}">{{.Name}}</a></td>
                    <td><a href="/Search?q={{.Direction}}">{{.Direction}}</a></td>
                    <td><a>{{.Track}}</a></td>
                    <td><a>{{.DateTime}}</a></td>
                </tr>
            {{end}}
        </table>
    </div>
</div>
</body>
</html>