* {
    box-sizing: border-box;
}

body{
    background-color: #f0f3f5;
    margin-left: 25%;
    margin-right: 25%;
}

.page{
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.DbBox {
    background-color: #c1121c;
    width: max-content;
    padding: 2px;
    border-radius: 7px;
}

.DbDiv {

}

.DbStripe {
    background-color: #c1121c;
    height: 7px;
    margin-top: 5px;
    border-radius: 7px;
}

.DbHeader {
    background-color: #c1121c;
    color: white;
    font-family: Helvetica;
    padding: 10px 20px 10px 20px;
    width: max-content;
    border-radius: 7px;
}

.DbList input[type=button], input[type=submit], input[type=reset] {
    background-color: #c1121c;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 7px;
    cursor: pointer;
    font-size: large;
}

.DbText {
    color: white;
    font-family: Helvetica;
    margin: 20px;
}

.open {
    background-color: limegreen;
    padding: 10px;
    font-family: Helvetica;
    color: white;
    margin-left: 100.3%;
    border-radius: 0 7px 7px 0;
}

.closed {
    background-color: #c1121c;
    padding: 10px;
    font-family: Helvetica;
    color: white;
    margin-left: 100.3%;
    border-radius: 0 7px 7px 0;
}


.headerImg {
    margin-top: 10px;
    height: 20%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.topnav img{
    padding: 1%;
    height: 60px;
    float: left;
}

.trainTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
}

.trainTable td, .trainTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.trainTable tr:nth-child(even){background-color: #f2f2f2;}

.trainTable tr:hover {background-color: #ddd;}

.trainTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c1121c;
    color: white;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}